main {
    position: absolute;
    left: 480px;
    width: 1060px;
    height: 100%;
    padding: 30px;
}

aside {
    position: absolute;
    left: 1600px;
}

.board_wrap {
    position: relative;
    overflow: auto;
    width: 1000px;
    height: 865px;
    margin: 30px;
    background-color: rgb(250, 202, 76);
}

.board_title {
    position: relative;
    width: 940px;
    margin: 30px;
    font-size: 18px;
    border: color black;
    border-radius: 1;
}

.board_title>a:hover {
    text-decoration: underline black 3px;
}

div.board_title p {
    margin: 20px 0px;
    font-size: 18px;
}

div.board_content {
    position: relative;
    top: 30px;
}

div.board_content>div.post_list {
    text-align: center;
}

.head_row {
    font-weight: bold;
}

.post_list .post_num {
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    width: 10%;
}

.post_list .title {
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    width: 50%;
    text-align: left;
}

.post_list .author {
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    width: 10%;
}

.post_list .date {
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    width: 10%;
}

.post_list .view {
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    width: 10%;
}

.post_list>div:first-child {
    width: 100%;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.post_list>div {
    width: 100%;
    border-bottom: 2px solid #000;
}

div.post_row>.title {
    text-decoration: none;
    color: black;
}

div.post_row>.title:hover {
    text-decoration: underline black;
}

.drop_down {
    position: relative;
    display: inline-block;
}

.drop_down>.name_button:hover {
    text-decoration: underline black;
    cursor: pointer;
    user-select: none;
}

.drop_content_bg {
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: transparent;
    z-index: 997;
}

.drop_content {
    position: absolute;
    display: none;
    z-index: 998;
    width: 200px;
}

.drop_content>.drop_down_info>img {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background-color: #393939;
    z-index: 2;
}

.drop_content * {
    display: block;
    font-size: 18px;
    background-color: #393939;
    color: rgb(193, 193, 193);
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
}

.drop_content>.open_report {
    cursor: pointer;
}

.modal_background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal_wrap {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    width: 350px;
    height: 460px;
    background: white;
    z-index: 1000;
}

.modal_wrap>p {
    margin: 20px 0px;
    font-size: 30px;
}

.modal_wrap>form>label {
    display: block;
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
}

.modal_wrap>form>input[type="text"] {
    padding: 10px 5px;
    border: 1px rgb(193, 193, 193) solid;
    color: #393939;
}

.modal_wrap>.close_report {
    padding: 10px 30px;
    border: 0px;
    background-color: #393939;
    color: rgb(193, 193, 193);
}

.modal_wrap>form>input {
    margin: 20px auto;
}

.search_bar {
    margin: 20px auto;
    text-align: center;
}

.search_bar>form>input {
    padding: 10px 8px;
    font-size: 18px;
    background-color: #393939;
    color: rgb(193, 193, 193);
    border: 0px;
}

.search_bar>form>input:last-child {
    padding: 10px 18px;
}

.search_bar>form>input:last-child:hover {
    text-decoration: underline #C1C1C1;
}

.page_button {
    margin: 20px auto;
    text-align: center;
}

.page_button a {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    vertical-align: middle;
    border: 0px;
    color: rgb(193, 193, 193);
    background-color: #393939;
    font-size: 24px;
    text-decoration: none;
}

.page_button a:hover {
    text-decoration: underline rgb(193, 193, 193);
}

.page_button a.num.selected {
    background-color: rgb(193, 193, 193);
    color: black;
    text-decoration-color: black;
}

.button_wrap {
    margin: 30px auto;
    text-align: center;
}

.button_wrap a {
    display: inline-block;
    padding: 10px 30px;
    border: 0px;
    background-color: #393939;
    color: rgb(193, 193, 193);
    font-size: 28px;
}